

<nav class="bg-gray-200 text-gray-700 border-gray-200 dark:bg-gray-950">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/imgs/freshcart-logo.svg" class="h-6" alt="Logo" />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center text-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden flex-grow w-full md:flex md:w-auto" id="navbar-default">
        @if (isLogin){
          <ul class="ms-2 font-normal flex flex-col p-4 md:p-0  md:flex-row md:space-x-4 rtl:space-x-reverse  dark:bg-green-900 dark:border-gray-700">
            <li>
              <a routerLink="home" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent dark:hover:text-green-500 hover:text-green-600 md:p-0 dark:text-white">Home</a>
            </li>
            <li>
              <a routerLink="products" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3  rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Products</a>
            </li>
            <li>
              <a routerLink="categories" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3  rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Categories</a>
            </li>
            <li>
              <a routerLink="brands" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3  rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Brands</a>
            </li>
          </ul>
        }
        <ul class="ms-auto font-normal flex flex-row items-center gap-2 p-4 md:p-0 md:flex-row  rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-green-900 dark:border-gray-700">
          <li>
            <a class="block px-3 rounded-sm md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:text-white ">
              <i class="fa-brands fa-instagram p-0 m-0 text-xl"></i>
            </a>
          </li>
          <li>
            <a class="block px-3 rounded-sm md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:text-white ">
              <i class="fa-brands fa-facebook p-0 m-0 text-xl"></i>
            </a>
          </li>
          <li>
            <a routerLink="wishlist" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3 rounded-sm md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:text-white">
              <i class="fa-regular fa-heart p-0 m-0 text-xl"></i>
            </a>
          </li>
          <li>
            <a routerLink="cart" routerLinkActive=" font-medium text-green-600 dark:text-green-500" class="block px-3 rounded-sm md:border-0 hover:text-green-600 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:text-white ">
              <i class="fa-solid fa-cart-shopping p-0 m-0 text-xl"></i>
              @if(cartItemsCount > 0){
              <div class="absolute inline-flex items-center justify-center w-6 text-white bg-red-600 rounded-full px-2 py-1 text-xs m-0">
                {{ cartItemsCount }} 
              </div>
              }
            </a>
          </li>
          @if(!isLogin){
            <li>
              <a role="button" routerLink="login" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3 rounded-sm dark:hover:text-green-500 hover:text-green-600 md:p-0 dark:text-white">Login</a>
            </li>
            <li>
              <a role="button" routerLink="register" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3 rounded-sm dark:hover:text-green-500 hover:text-green-600 md:p-0 dark:text-white">Register</a>
            </li>
          }
          @else {
            <li>
              <a (click)="_AuthService.logOut()" role="button" routerLinkActive="font-medium text-green-600 dark:text-green-500" class="block px-3 rounded-sm dark:hover:text-green-500 hover:text-green-600 md:p-0 dark:text-white">Log Out</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://cdn.tailwindcss.com"></script>


  <script>
    document.getElementById('navbar-toggle').addEventListener('click', function () {
        var nav = document.getElementById('navbar-default');
        nav.classList.toggle('hidden'); // Show/hide menu
    });
    </script>
  