<footer class="bg-gray-200 text-gray-700 p-6 dark:bg-gray-950 dark:text-white">
    <div class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0">
      <img src="/imgs/freshcart-logo.svg" class="h-6">
  
      <div class="flex items-center space-x-2">
        <input 
          type="email" 
          placeholder="Enter your email" 
          class="p-2 rounded-md text-gray-900 focus:outline-none"
        />
        <button class="btn-main">
          Subscribe
        </button>
      </div>
  
      <div class="flex space-x-3">
        <img src="/imgs/Visa_Logo.png" alt="Visa" class="h-6">
        <img src="/imgs/Mastercard-logo.png" alt="MasterCard" class="h-6">
        <img src="/imgs/PayPal.png" alt="PayPal" class="h-6">
        <img src="/imgs/Apple-Pay-logo.png" alt="Apple Pay" class="h-6">
      </div>
    </div>
  

    <div class="text-center mt-4 text-sm">
      &copy; 2025 FreshCart Market. All rights reserved.
    </div>
  </footer>
  
  <script src="https://cdn.tailwindcss.com"></script>
  