<section class="prod-section dark:bg-gray-900 dark:text-white">
    <h2 class="font-semibold text-green-800 my-3 text-4xl">All Brands</h2>


    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
          
<!--Card-->
     @for(prod of brands ; track prod._id){
        <div class="mt-3 border border-green-400/50 rounded-md overflow-hidden hover:shadow-lg hover:scale-[1.1] transition relative card dark:bg-gray-700 ">
            <div class="products ">
                <div class="card-img" >
                    <img [src]="prod.image" class="w-full h-[250px] object-contain" [alt]="prod.name" />
                    </div>
                    <div class="card-body px-2 py-4">
                    <h4 class="text-green-600 dark:text-green-500 text-xl font-bold">{{prod.name}}</h4>

                </div>

        </div>
        </div>
     }
    </div>
</section>